body{
    font-size: 16px;
}

#container1{
    /* border: 1px solid black; */
    /* height: 100px; */
}

#header-nav{
    background-color:bisque;
    border-radius: 0;
    border: 0;
}
.navbar-brand{
    color: black;
    padding: 0px;
}
.navbar-brand h1{
    margin: 0px;
    padding: 0px;
    
}
#collapsable-nav{
    margin-top: 50px;
    background-color: green;
}

#nav-list *{
    color: black;
    text-align: center;
}

#nav-list li:nth-child(2){
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.row{
    margin-left: 10px;
    margin-right: 10px;
}

.row > div{
    height:700px;
    margin-bottom: 20px;
    padding: 5px;
    background-clip: content-box;
    background-color: blanchedalmond;
    align-content: center;
}

.row p{
    width: 95%;
    margin: auto;
}
