/********** Base styles **********/
* {
  box-sizing: border-box;
}

body{
    font-family: Helvetica,sans-serif;
}
h1 {
  margin-bottom:30px;
  text-align: center;
  font-size: 1.75em;

}

div > div{
    border: 1px solid black;
    background-color: grey;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 20px;
}

h2{
    border: 1px solid black;
    width: 40%;
    text-align: center;
    float: right;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.25em;
}
div:nth-child(1) > h2{
    background-color: aquamarine;
}
div:nth-child(2) > h2{
    background-color: antiquewhite;
}
div:nth-child(3) > h2{
    background-color: aqua;
}
p{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  height: 90px;
  color: black;

}

.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .col-lg-4{
    float: left;
    width: 31.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    float: left;
    border: 1px solid green;
  }
  .col-md-6 {
    width: 48%;
  }
  .col-md-12 {
    width: 98%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-12 {
    float: left;
    border: 1px solid green;
    width: 100%;
  }
}
